/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    margin: 0;
    padding: 0;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.7em;
    background-color: #ffffff;
    background-repeat: repeat-x;
    background-position: top;
	overflow-x: hidden;
}
a, a:link, a:visited {
    color: #0099FF;
    font-weight: 400;
    text-decoration: none;
}
a:hover {
    color: #CC9933;
    text-decoration: underline;
}
p {
    margin: 0 0 10px 0;
    padding: 0;
}
img {
    border: none
}
em {
    color: #000;
    font-style: italic;
}
h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-weight: normal;
}
h1 {
    font-size: 28px;
    margin: 0 0 20px 0;
    padding: 5px 0;
}
.cleaner {
    clear: both
}

#body_wrapper {
    width: 100%;
}
#wrapper {
    width: 960px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-bottom: 50px;
}
#header {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 25px;
    padding-left: 10px;
    background-color: #fff;
    color: #000;
}
#header-content {
	width: 960px;
	max-width: 100%;
	margin: 0 auto;
}
#site_title {
    text-align: center;
    margin-top: 10px;
    color: #000;
}
#site_title h1 {
    margin: 0;
    padding: 0;
    font-size: 200%;
    line-height: 22pt;
    color: #000;
}
#pid a {
    color: #fff;
}
.banner {
	clear: both;
    margin-left: auto;
    margin-right: auto;
	width: 30%;
	font-size: 14px;
	margin-top: 10px;
	padding-top: 12px;
	padding-bottom: 16px;
	border: 1px solid #ccc;
    border-radius: 25px;
	margin-bottom: 10px;
    line-height: normal;
    background-color: darkred;
}
.banner h2 {
	text-align: center;
	color: #000;
	margin: 0 0 5px 0;
    padding: 8px 0;
	font-size: 22px;
}
.banner h3 {
	text-align: center;
	color: #000;
	margin: 0 0 5px 0;
    padding-bottom: 8px;
	font-size: 18px;
}
.banner p {
	margin-left: 25px;
	margin-right: 25px;
}
.banner ul li {
    margin-left: 50px;
    margin-right: 25px;
}
.banner a {
	color: #0B2161;
}
hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}